body {
        background-color: #FFDEAD;
}

h1 {
	font-family: sans-serif;
	text-align: center;
}

h2 {
	font-family: sans-serif;
}

p {
	font-size: 22px;
	margin: 15px;
}

#post {
        margin-top: 60px;
        font-family: Arial;
        color: #20B2AA;
}
